<!-- Component : Movie List -->
<div class="item" ng-repeat="movie in model.movies">

	<!-- Movie title -->
	{{movie.title}}
	
	<!-- Star Rating -->
	<movie-rating value="movie.rating" max="10"></movie-rating>
	
	<!-- Voting Up/Down Link -->
	<div class="btnContainer">
		<button class="btn btn-default" ng-click="model.upRating(movie)">
			<span class="glyphicon glyphicon-plus"></span>
		</button>
		
		<button class="btn btn-default" ng-click="model.downRating(movie)">
			<span class="glyphicon glyphicon-minus"></span>
		</button>
		
		<button class="btn btn-default" ng-click="model.goTo(movie.id)">
			<span class="glyphicon glyphicon-search"></span>
		</button>			
	</div>
</div>