*{padding: 0; margin: 0}
li{list-style: none}

/*body{font-family: sans-serif; font: 62.5%/1.5}*/
body{font-size: 1.2em}

.clearfix: after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}.clearfix {
	display: inline - block;
} /* Hides from IE-mac \*/
* html.clearfix {
	height: 1 % ;
}.clearfix {
	display: block;
} /* End hide from IE-mac */		

/* Navigation */
nav{background: #efefef; overflow: hidden; padding: 10px 0}
nav li{float: left; padding: 0 10px;}

/* Main Content */
#mainContainer{margin: 10px;}

.btnContainer{float: left; margin-right: 30px;}

.item{margin-bottom: 30px}

.detailNavi{overflow: hidden;}
.detailNavi li{float: left; margin-right: 10px}
.detailNavi li a{display: block; padding: 8px 4px; background: #999; color: white}